{% if name %}
    Hello, {{ name }}!
{% else %}
    {% if form.errors %}
        {% for error in form.errors  %}
            <li>{{ error }}</li>
        {% endfor %}
    {% else %}
        Hello, user!
    {% endif %}
{% endif %}
{% if form %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="field">
            {{ form.last_name.errors }}
            <label id="id_last_name">Логин:</label>
            {{ form.last_name }}
        </div>
        <div class="field">
            {{ form.email.errors }}
            <label id="id_email">Email:</label>
            {{ form.email }}
        </div>
        <input type="submit" value="LogIn">
    </form>
{% endif %}